body {
	background: url("../images/necklace1.jpg") no-repeat center top scroll;
	-webkit-background-size:cover; /*chrome/safari*/
	-moz-background-size:cover; /*firefox*/
	-o-background-size:cover; /*opera*/
	background-size:cover;
}
h1 {
	font-size: 75px;
	font-weight: bold;
}
h1, h3, p {
	text-align: center;
	color: #000;
}
p {
	font-style: italic;
	font-size: 30px;
}