body {
	/*background-color: #ECDFFF*/;
	background: "images/necklace.jpg";
}
h1 {
	font-size: 100px;
	font-weight: bold;
}
h1, p {
	text-align: center;
	color: #45040F;
}
p {
	font-style: italic;
	font-size: 30px;
}